*.BACKUP.*
*.BASE.*
*.CSV
*.DOC
scan/images/
*.DOCX
*.GIF
*.JPEG
*.JPG
*.LOCAL.*
*.MP3
*.MP4
*.MPG
*.ORIG
*.PDF
*.PNG
*.PPT
*.PSD
*.REMOTE.*
*.TIF
*.TIFF
*.WAV
*.WMV
*.XLSX
*.XML
*.ZIP
*.csv
*.avi
*.mov
*.webm
*.doc
*.docx
*.fla
*.gif
*.jpeg
*.jpg
*.json.txt
*.mp3
*.mp4
*.mpg
*.orig
*.pdf
*.pem
*.png
*.ppk
*.ppt
*.pptx
*.psd
*.swf
*.tif
*.tiff
*.wav
*.wmv
*.xlsx
*.xml
*.zip
*trash*
.DS_Store
.bundle
.sass-cache
.sass-cache
.vscode
Gruntfile.js
_notes/
